<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sist.com.vo.apple"> 


<select id="loginCheck" resultType="String">
	SELECT PASSWORD FROM USERINFO WHERE ID=#{id}
</select>

<select id="getSequence" resultType="int">
	SELECT USERINFO_SEQ.NEXTVAL FROM DUAL
</select>

<insert id="joinAction" parameterType="user">
	INSERT INTO USERINFO VALUES(#{no},#{id},#{password},#{username},#{email}, #{phone})
</insert>
</mapper>