<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sist.com.vo.apple"> 


<select id="loginCheck" resultType="String">
	SELECT PASSWORD FROM USERINFO WHERE ID=#{id}
</select>

<select id="getSequence" resultType="int">
	SELECT USERINFO_SEQ.NEXTVAL FROM DUAL
</select>

<insert id="joinAction" parameterType="sist.com.vo.userVO">
	INSERT INTO USERINFO (NO, ID, PASSWORD, USERNAME, EMAIL, PHONE, REGDATE) VALUES(#{no},#{id},#{password},#{username},#{email}, #{phone}, SYSDATE)
</insert>

<select id="userInfo" parameterType="String" resultType="sist.com.vo.userVO">
	SELECT * FROM USERINFO WHERE ID=#{id}
</select>

<update id="updateAction" parameterType="String">
	UPDATE USERINFO SET PASSWORD = #{password}, USERNAME=#{username}, EMAIL=#{email}, PHONE=#{phone} WHERE ID=#{id}
</update>

<delete id="deleteAction" parameterType="String">
	DELETE FROM USERINFO WHERE ID=#{id}
</delete>

<insert id="insertMoiveData" parameterType="java.util.Map">
	INSERT INTO MOVIE(MOVIECD, MOVIENM, PRDTYEAR, OPENDT, TYPENM, NATIONALT, GENREALT,PEOPLENM)
	SELECT * FROM(
	<foreach collection="list" item="item" separator="UNION ALL" close=")">
		SELECT #{item.movieCd},#{item.movieNm},#{item.prdtYear},#{item.openDt},#{item.typeNm},#{item.nationAlt},#{item.genreAlt},#{item.peopleNm} FROM DUAL
	</foreach>
</insert>

<select id="searchMovie" parameterType="String" resultType="sist.com.vo.MoviePosterVO">
	SELECT A.MOVIECD, A.MOVIENM, A.OPENDT, A.GENREALT, A.PEOPLENM, A.PRDTYEAR, A.NATIONALT, A.TYPENM, B.POSTER, B.DISCRIP
	FROM MOVIE A INNER JOIN MOVIEPOSTER B
	ON A.MOVIECD=B.MOVIECD
	WHERE MOVIENM LIKE '%'||#{title}||'%'
</select>

<select id="movieCdSelect"  resultType="String">
	SELECT MOVIECD FROM MOVIE WHERE OPENDT IS NOT NULL AND PEOPLENM IS NULL AND PRDTYEAR ='2018'
</select>

<insert id="insertMovieImg" parameterType="java.util.Map">
	insert into movieposter(movieCd, poster, discrip) values (#{moviecode}, #{movieImg}, #{movieDiscrip})
</insert>

<select id="searchMovieByCd" parameterType="String" resultType="sist.com.vo.MoviePosterVO">
	SELECT A.MOVIECD, A.MOVIENM, A.OPENDT, A.GENREALT, A.PEOPLENM, A.PRDTYEAR, A.NATIONALT, A.TYPENM, B.POSTER, B.DISCRIP
	FROM MOVIE A INNER JOIN MOVIEPOSTER B
	ON A.MOVIECD=B.MOVIECD
	 WHERE A.MOVIECD=#{movieCd}
</select>

<insert id="likeMovieInsert" parameterType="sist.com.vo.LikeMovieVO">
	INSERT INTO LIKEMOVIE(ID, MOVIECD, REGDATE) VALUES (#{id}, #{movieCd}, SYSDATE)
</insert>

<delete id="likeMovieDelete" parameterType="sist.com.vo.LikeMovieVO">
	DELETE FROM LIKEMOVIE WHERE ID=#{id} AND MOVIECD=#{movieCd}
</delete>

<select id="likeMovieSearch" parameterType="sist.com.vo.LikeMovieVO" resultType="String">
	SELECT MOVIECD FROM LIKEMOVIE WHERE ID=#{id} AND MOVIECD=#{movieCd}
</select>

<select id="likemovieSelect" parameterType="String" resultType="sist.com.vo.LikeMovieVO">
	SELECT A.ID, A.MOVIECD, A.REGDATE, B.MOVIENM FROM LIKEMOVIE A INNER JOIN MOVIE B ON A.MOVIECD=B.MOVIECD WHERE ID=#{id} ORDER BY A.REGDATE DESC
</select>

<insert id="reviewForm" parameterType="sist.com.vo.WritingVO">
	INSERT INTO WRITING (ID, MOVIECD, TITLE, GRADE, CONTENTS, REGDATE) VALUES(#{id},#{movieCd},#{title},#{grade},#{contents},SYSDATE)
</insert>

</mapper>