<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->

     <typeAliases>
     	
     	
    </typeAliases> 

    <!--오라클 쿼리를 날릴 주소  -->
    <mappers>
      <mapper resource="sist/com/dao/mapper.xml"/> 
    </mappers>
</configuration>